* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background-color: #2c3338;
}
header {
	position: fixed;
	height: 2.6rem;
	width: 100%;
  	background-color: #333333;
	left: 0;
	top: 0;
	z-index: 9999;
    border-bottom: 2px solid #505050;
}
nav {
	margin: 0;
	padding: 0;
	z-index: 9999;
	line-height: 2.5rem;
	width: 100%;
	height: 100%;
}
header ul {
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	z-index: 9999;
}
header li {
	margin: 0;
	padding: 0;
	z-index: 9999;
}
header li:first-child {
	display: flex;
    flex-direction: row;
	flex-grow: 1;
	text-align: left;
	padding-left: 1rem;
	font-family: 'Cinzel Decorative', cursive;
}
.username {
	padding-left: 1rem;
	vertical-align: middle;
	font-family: 'Cinzel Decorative', cursive;
	color: #fff;
}
header li:last-child {
	flex-grow: 1;
	text-align: right;
	padding-right: 1rem;
	font-family: Georgia, Times, "Times New Roman", serif;
}
header li {
	color: white;
	font-size: 1.5rem;
}
header svg {
	height: 2.5rem;
	width: 2.5rem;
	fill: #333333;
}
header input {
	margin: auto 0;
	font-size: 1.3rem;
	width: 7rem;
}

p {
  line-height: 1.5em;
}

after { 
	clear: both; 
}
#sign-up-link, #log-in-link, button[type="submit"] {
	padding: 0 0.5rem;
	font-size: 1.2rem;
}
#log-in, #sign-up {
	display: flex;
	width: 100vw;
	height: 100vh;
	z-index: 999;
  	color: #606468;
  	font: 87.5%/1.5em 'Open Sans', sans-serif;
  	margin: 0;
}
#sign-up {
	display: none;
}
#log-in form, #sign-up form {
	height: auto;
	position: relative;
	max-width: 22rem;
	vertical-align: middle;
	margin: auto auto;
  	padding: 1.375rem 1.375rem 1rem 1.375rem;
  	border-radius: 0.3125rem;
  	background: #282e33;
  	border-top: 0.1875rem solid #434a52;
  	border-bottom: 0.1875rem solid #434a52;
}
#log-in input, #sign-up input {
	border: none;
  	font-family: 'Open Sans', Arial, sans-serif;
  	font-size: 1rem;
  	line-height: 1.5em;
  	padding: 0;
  	-webkit-appearance: none;
}
#log-in form span, #sign-up form span {
  	background-color: #363b41;
  	border-radius: 0.1875rem 0 0 0.1875rem;
  	border-right: 0.1875rem solid #434a52;
  	color: #606468;
  	display: block;
  	float: left;
  	line-height: 3.125rem;
  	text-align: center;
  	width: 17.5%;
  	height: 3.125rem;
}
#log-in form input[type="text"], #sign-up form input[type="text"] {
  	background-color: #3b4148;
  	border-radius: 0 0.1875rem 0.1875rem 0;
  	color: #a9a9a9;
  	margin-bottom: 1rem;
  	padding: 0 1rem;
  	width: 82.5%;
  	height: 3.125rem;
}
#log-in form input[type="password"], #sign-up form input[type="password"] {
  	background-color: #3b4148;
  	border-radius: 0 0.1875rem 0.1875rem 0;
  	color: #a9a9a9;
  	margin-bottom: 1rem;
  	padding: 0 1rem;
  	width: 82.5%;
  	height: 3.125rem;
}
#log-in form button[type="submit"], #sign-up form button[type="submit"] {
  	background: #b5cd60;
  	border: 0;
  	width: 100%;
  	height: 2.5rem;
  	border-radius: 0.1875rem;
  	color: white;
  	cursor: pointer;
  	transition: background 0.3s ease-in-out;
}
#log-in form button[type="submit"]:hover, #sign-up form button[type="submit"]:hover {
  	background: #16aa56;
}
#log-in form p, #sign-up form p {
	padding-top: 0.7rem;
	text-align: right;
}
#log-in form a, #sign-up form a {
    font-size: 0.95rem;
    color: #a9a9a9;
    text-decoration: none;
    padding: 1rem 0 0 0;
    text-align: center;
}
#log-in form a:hover, #sign-up form a:hover {
	color: #b5cd60;
}
.fontawesome-user svg {
	width: 16px;
	height: 16px;
}
.fontawesome-lock svg {
	width: 16px;
	height: 16px;
}
/* Popup container - can be anything you want */
#log-in .popup, #sign-up .popup {
	width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
#log-in .popup .popuptext, #sign-up .popup .popuptext {
	visibility: hidden;
	border: none;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 130%;
    margin-left: -80px;
    min-width: 60%;
    height: 3.125rem;
    float: initial;
}

#log-in .popup .popuptext::after, #sign-up .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

/* Toggle this class - hide and show the popup */
#log-in .popup .show, #sign-up .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* The switch - the box around the slider */
.switch {
	opacity: 0.3;
	pointer-events: none;
	vertical-align: middle;
  	position: relative;
  	display: inline-block;
  	width: 2.65rem;
  	height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;
}

/* The slider */
.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: #ccc;
  	-webkit-transition: .4s;
  	transition: .4s;
}

.slider:before {
  	position: absolute;
  	content: "";
  	height: 1.25rem;
  	width: 1.25rem;
  	left: 0.125rem;
  	bottom: 0.125rem;
  	background-color: white;
  	-webkit-transition: .4s;
  	transition: .4s;
}

input:checked + .slider {
  	background-color: #2196F3;
}

input:focus + .slider {
  	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(1.25rem);
  	-ms-transform: translateX(1.25rem);
  	transform: translateX(1.25rem);
}

/* Rounded sliders */
.slider.round {
  	border-radius: 1.25rem;
}

.slider.round:before {
 	border-radius: 100%;
}
.TTT {
	margin-top: 2.5rem;
	margin-left: 0.5%;
	margin-right: 0.5%;
	overflow: auto;
	display: flex;
	flex-direction: row;
}
.TTT {
	display: none;
}
h1 {
	color: #d3d3d3;
	padding: 1rem 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
h1 span {
	color: #f5f6f7;
}
h1 .green {
	margin: 0;
}
.game {
	flex-grow: 3;
}
#players {
	width: 15rem;
	height: 25rem;
	overflow: auto;
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	box-shadow: -3px 4px 17px -2px #000000;
	opacity: 0.8;
	margin: 0.5rem 1rem 0 1rem;
	border-radius: 4px;
}
#players ul {
	line-height: 2.5rem;
	margin: 0;
	font-size: 1.25rem;
	text-align: center;
	padding: 0.3rem;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#players li {
	text-align: left;
	padding: 2px 0;
	padding-left: 2rem;
	margin: 2px 0;
	line-height: 1.5rem;
	text-decoration: none;
	width: 100%;
	height: 100%;
	background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 4px;
    font-size: 1.25rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
}
#players li:hover {
	cursor: pointer;
    margin: 2px 0;
    text-shadow: 1px 1px 2px #BDBDBD;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #505050;
    opacity: 1;
}
.state {
	border-radius: 0.5rem;
	width: 0.5rem;
	height: 0.5rem; 
	display: inline-block;
}
.red {
	vertical-align: middle;
    margin: 0 1rem 0 0;
    background-color: red;
}
.green {
	vertical-align: middle;
    margin: 0 1rem 0 0;
    background-color: green;
}
#players li a {
	margin-right: 1rem;
}
#players li img {
	vertical-align: middle;
}
.board input[type="checkbox"] {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	cursor: pointer;
  	margin: 0;
  	opacity: 0;
  	z-index: 10;
}
.board input[type="checkbox"] + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.block input[type="checkbox"]:focus + span {
    box-shadow: 0 0 5px #51cbee;
    outline: 2px solid #51cbee;
}
.board {
	margin: 0 auto;
	width: 22.5rem;
	height: 22.5rem;
	border-collapse: collapse;
}
.finish {
	pointer-events: none;
}
.result {
	text-align: center;
	margin: 0.5rem;
	font: 1.2rem 'Cinzel Decorative', cursive;
}
.result h2 {
	color: #f5f6f7;
	text-align: center;
	width: 22.5rem;
	line-height: 2rem;
	border: 2px solid #c3c3c3;
	margin: 0.3rem auto;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}
.hidden-sec {
	display: none;
}
td {
	width: 7.5rem;
	height: 7.5rem;
	max-height: 7.5rem;
	padding: 0;
	box-sizing: border-box;
}
.block {
	border: 0.45rem solid #f5f6f7;
	position: relative;
}
.top-left {
	border-left-style: none;
	border-top-style: none;
}
.top {
	border-top-style: none;
}
.top-right {
	border-top-style: none;
	border-right-style: none;
}
.left {
	border-left-style: none;
}
.right {
	border-right-style: none;
}
.bott-left {
	border-left-style: none;
	border-bottom-style: none;
}
.bott {
	border-bottom-style: none;
}
.bott-right {
	border-bottom-style: none;
	border-right-style: none;
}
.TTT svg {
	stroke: #f0f0f0;
	width: 6.7rem;
	height: 6.7rem;
	
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.circle {
	stroke-width: 15;
	fill: transparent;
}
.cross {
	stroke-width: 22;
}
.block label {
	height: 0;
	width: 0;
}
.cd-popup {
	font-family: "Lato", sans-serif;
  	color: #2c3338;
  	position: fixed;
  	left: 0;
  	top: 0;
  	height: 100%;
  	width: 100%;
  	background-color: rgba(94, 110, 141, 0.9);
  	opacity: 0;
  	visibility: hidden;
  	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  	transition: opacity 0.3s 0s, visibility 0s 0.3s;
  	z-index: auto;
}
.cd-popup.is-visible {
  	opacity: 1;
  	visibility: visible;
  	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  	transition: opacity 0.3s 0s, visibility 0s 0s;
  	z-index: 9999;
}

.cd-popup-container {
  	position: relative;
  	width: 90%;
  	max-width: 25rem;
  	margin: 4rem auto;
  	background: #FFF;
  	border-radius: .25rem .25rem .4rem .4rem;
  	text-align: center;
  	box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  	-webkit-transform: translateY(-1.25rem);
  	-moz-transform: translateY(-1.25rem);
  	-ms-transform: translateY(-1.25rem);
  	-o-transform: translateY(-1.25rem);
  	transform: translateY(-1.25rem);
  	/* Force Hardware Acceleration in WebKit */
  	-webkit-backface-visibility: hidden;
  	-webkit-transition-property: -webkit-transform;
  	-moz-transition-property: -moz-transform;
  	transition-property: transform;
  	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}
.cd-popup-container p {
  	padding: 3rem 1rem;
  	font-size: 1.02rem;
}
.cd-popup-container .cd-buttons:after {
  	content: "";
  	display: table;
  	clear: both;
}
.cd-popup-container .cd-buttons li {
  	float: left;
  	width: 50%;
  	list-style: none;
}
.cd-popup-container .cd-buttons a {
  	display: block;
  	height: 3.75rem;
  	line-height: 3.75rem;
  	text-transform: uppercase;
  	color: #ffffff;
  	-webkit-transition: background-color 0.2s;
  	-moz-transition: background-color 0.2s;
  	transition: background-color 0.2s;
  	text-decoration: none;
}
.cd-popup-container .cd-buttons li:first-child a {
  	background: #fc7169;
  	border-radius: 0 0 0 .25rem;
}
.cd-popup-container .cd-buttons li:first-child a:hover {
  	background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  	background: #2c3338;
  	border-radius: 0 0 .25rem 0;
}
.cd-popup-container .cd-buttons li:last-child a:hover {
  	background-color: #2c4b51;
}
.is-visible .cd-popup-container {
  	-webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	-o-transform: translateY(0);
  	transform: translateY(0);
}
.cd-popup-container .cd-popup-close {
  	position: absolute;
  	top: 8px;
 	right: 8px;
  	width: 30px;
  	height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  	content: '';
  	position: absolute;
  	top: 12px;
  	width: 14px;
  	height: 3px;
  	background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	transform: rotate(45deg);
  	left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	right: 8px;
}
.is-visible .cd-popup-container {
  	-webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	-o-transform: translateY(0);
  	transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  	.cd-popup-container {
    	margin: 8rem auto;
  	}
}
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
	.TTT {
		flex-direction: column-reverse;
	}
	header {
		height: 6.5rem;
	}
	nav {
		line-height: 4rem;
	}
	header svg {
		height: 6.4rem;
		width: 6.4rem;
	}
	.switch {
		margin: 1.25rem 0;
	  	height: 4rem;
	  	width: 7.75rem;
	}
	.slider:before {
	 	height: 3.75rem;
	 	width: 3.75rem;
	}
	input:checked + .slider:before {
	  	-webkit-transform: translateX(4rem);
	  	-ms-transform: translateX(4rem);
	  	transform: translateX(4rem);
	}
	.slider.round {
	  	border-radius: 4rem;
	}
	.username {
		font-size: 3.5rem;
		margin: auto 0;
	}
	#log-in form, #sign-up form {
		max-width: 40rem;
	}
	#log-in input, #sign-up input {
	  	line-height: 1.5em;
	}
	#log-in form span, #sign-up form span {
	  	line-height: 6.25rem;
	  	height: 6.25rem;
	}
	#log-in form input[type="text"], #sign-up form input[type="text"] {
	  	height: 6.25rem;
	  	font-size: 2rem;
	}
	#log-in form input[type="password"], #sign-up form input[type="password"] {
	  	height: 6.25rem;
	  	font-size: 2rem;
	}
	#log-in form button[type="submit"], #sign-up form button[type="submit"] {
	  	height: 5rem;
	  	font-size: 2rem;
	}
	#log-in form p, #sign-up form p {
		padding-top: 1rem;
		font-size: 2rem;
	}
	#log-in form a, #sign-up form a {
		padding-top: 1rem;
		font-size: 2rem;
	}
	.fontawesome-user svg {
		width: 32px;
		height: 32px;
	}
	.fontawesome-lock svg {
		width: 32px;
		height: 32px;
	}
	.TTT h1, .TTT h2 {
		font-size: 2rem;
	}
	.cd-popup-container {
		max-width: 40rem;
		margin: 20rem auto;
	}
	.cd-popup-container p {
	    padding: 3rem 1rem;
	    font-size: 2.02rem;
	}
	.cd-popup-container .cd-buttons a {
    	height: 5.75rem;
    	line-height: 5.75rem;
    	font-size: 2rem;
	}
  	#players {
  		width: 22.5rem;
  		height: auto;
  		margin: 5.5rem auto 0 auto;
  	}
}